<script id="_exampleComponent" type="text/x-jsrender">
    <div class="card {{:panelClass}}">
        <div class="card-body"">
            <h3 class="title-2">{{:title}}</h3>
            <div class="chart-info">
            
            </div>
            <div id="{{:div}}" class="{{:div}}">{{:customText}}</div>
        </div>
    </div>
</script>