<!DOCTYPE html>
<html>
<head>
<title>BiQ App - Dashboard</title>
<meta charset="UTF-8">
<% include ./partials/include %>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0px;">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img width="180px" src="/img/AppDynamicsLogo.svg"/></a><div id="spinnerDiv" style="margin:10px"></div>
            </div>
            <!-- Left Menu -->
			<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse">
					<ul class="nav" id="side-menu"></ul>
				</div>
			</div>
        </nav>    
        <div id="page-wrapper">   
            <!-- Main Page -->
			<div class="row">
				<div id="ErrorTotals" class="panel-red"></div>
				<div id="ErrorBreakDown"></div>
			</div>
			<div class="row">
				<div id="ErrorTable" class="panel-red"></div>
			</div>
			<div class="row">
				<div id="ErrorTrend" class="panel-red"></div>
            </div>
            <div class="row">
				<div id="sankeyChart"></div>
			</div>
        </div>
    </div>
</body>
<script type="text/javascript">
	//Your BiQ App Components ...
	var buildDashboard = function(){
		new BoxChartComponent({
			title:"Error Counts",
			targetId:"ErrorTotals",
			action:"View Details",
			actionClick: "action()",
			icon:"fa fa-exclamation fa-2x",
			height:75,
			width:300
			//query:""
		}).draw();
		
		new DonutChartComponent({
			//query: "",    
			targetId:"ErrorBreakDown",
			title:"Error Breakdown",
		}).draw(function(id){
            //hide elements lower down the chain
            hideElements(["ErrorTrend"]);
            
			new TableComponent({
				//query : "",
				targetId:"ErrorTable",
				title:"Table Chart",
				panelHeadingCSS:"panel-red",
				columns: [{ title: "Name" },{ title: "Counts" }]
			}).draw(function(record){
				new LineChartComponent({
					//query: "",    
					targetId:"ErrorTrend",
					title:"Error Trend Chart",
					panelHeadingCSS:"panel-red"
				}).draw(function(rec){
                    
                    var data={
                        nodes : ["RuntimeException",
                        "Login Service",
                        "DB Service",
                        "Customer A",
                        "Customer B"],
                        source : [1,1,2,2,3],
                        target : [2,3,4,5,5],
                        values : [15,5,10,5,2]
                    }

                    sankeyChart = new PlotlySankeyChart({div:"sankeyChart",title:"Flow"});
                    sankeyChart.renderChart(data,function(selection){
                        alert(JSON.stringify(selection));
                    });
				});
			});
		});
		
		new FilterComponent({
			targetId:"side-menu",
			filters:[{
				label:"Error",
				id:"idError",
				adqlField :"<field name required>",
				query:""
			},{
				label:"Customer",
				id:"idCustomer",
				adqlField :"<field name required>",
				query:""
			}]
		}).draw(function(filters){
            //hide elements lower down the chain
            hideElements(["ErrorTable","ErrorTrend"]);
			buildDashboard();
		});
		
		new TimeRangeComponent({
			targetId:"timeSelector"
		}).draw();
		
	}
	buildDashboard();
</script>
</html>