<!DOCTYPE html>
<html>
<head>
<title>BiQ App - Dashboard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<% include ./partials/include %>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0px;">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img width="180px" src="/img/AppDynamicsLogo.svg"/></a><div id="spinnerDiv" style="margin:10px"></div>
            </div>
            <!-- Left Menu -->
        </nav>    
        <div id="page-wrapper">   
            <!-- Main Page -->
			
        </div>
    </div>
</body>
<script type="text/javascript">
	//Your BiQ App Components ...
	var buildDashboard = function(){
		
	}
	buildDashboard();
	
</script>
</html>