<!DOCTYPE html>
<html>
<head>
<title>BiQ App - Dashboards</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<%- include ./partials/include %>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0px;">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img width="180px" src="/img/AppDynamicsLogo.svg"/></a>
            </div>
            <span class="navbar-left" style="color: aliceblue">Version : <%= version %></span>
        </nav>    
        <div id="page-wrapper">   
            <!-- Main Page -->
			<div class="row">
                <div id="newdash" class="col-lg-3 col-md-3"></div>
            </div>
            <div class="row"><hr/></div>
            <div class="row">
                <div id="documentation" class="col-lg-3 col-md-3"></div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    
    var buildMenus = function(){
        new BoxComponent({
            title:"New Dashboard",
            targetId:"newdash",
            action:"BiQ App",
            actionClick: "window.location.replace('/views/newdash.html')",
            icon:"fa fa-cogs fa-2x",
            panelClass:"panel-green"
        }).draw();

        new BoxComponent({
            title:"BiQ App Documentation",
            targetId:"documentation",
            action:"BiQ App Framework",
            actionClick: "window.location.replace('/views/examples/intro.html')",
            icon:"fa fa-cogs fa-2x",
            panelClass:"panel-yellow"
        }).draw();
    }
    buildMenus();
</script>        
</html>