<!DOCTYPE html>
<html>
<head>
<title>BiQ App - Dashboards</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<%- include ./partials/include %>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0px;">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img width="180px" src="/img/AppDynamicsLogo.svg"/></a>
            </div>
            <span class="navbar-left" style="color: aliceblue">Version : <%= version %></span>
            
            <!-- Left Menu -->
        </nav>    
        <div id="page-wrapper">   
            <!-- Main Page -->
			<div class="row">
                <div id="examples" class="col-lg-3 col-md-3"></div>
                
            </div>
            <div class="row">
                
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    
    var buildMenus = function(){
        new BoxComponent({
            title:"Examples Page",
            targetId:"examples",
            action:"Examples",
            actionClick: "window.location.replace('/views/examples/examples.html')",
            icon:"fa fa-cogs fa-2x",
            panelClass:"panel-green"
        }).draw();

    }

    buildMenus();
</script>        
</html>