<!DOCTYPE html>
<html>
<head>
<title>BiQ App - Dashboard</title>
<meta charset="UTF-8">
<% include ./partials/theme-admin %>
<style>
body,.page-container {
    padding-left:200px;
    padding-top:10px;
    background: #3c3c3c;
}
</style>
</head>
<body>
    <div class="wrapper">
        <div class="page-container"> 
            <div class="container-fluid">    
                <!-- Main Page -->
                <div class="row">
                    <div id="start" class="col-md-3"></div>	
                    <div class="col-md-1"></div>
                    <div id="advanced" class="col-md-3"></div>	
                </div>
                <div class="row">
                    <div id="docs" class="col-md-3"></div>	
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
	//Your BiQ App Components ...

    new BoxComponent({
        value:"Basic App",
        title:"Starter Dashboard",
        targetId:"start",
        actionClick: "window.location.replace('/views/newdash.html')",
        icon:"fa fa-anchor",
        panelClass:"overview-item--c2",
        animate:"zoomIn"
    }).draw();

	new BoxComponent({
        value:"MyAppD",
        title:"Advanced Dashboard",
        targetId:"advanced",
        actionClick: "window.location.replace('/views/appd.html')",
        icon:"fa fa-rocket",
        panelClass:"overview-item--c0",
        animate:"zoomIn"
    }).draw();
    
    new BoxComponent({
        value:"Docs",
        title:"BiQ App Documentation",
        targetId:"docs",
        actionClick: "window.location.replace('/views/examples/intro.html')",
        icon:"fa fa-book",
        panelClass:"overview-item--c4",
        animate:"zoomIn"
    }).draw();

</script>
</html>
