<!DOCTYPE html>
<html>
<head>
<title>BiQ App - Dashboard</title>
<meta charset="UTF-8">

<% include ../partials/theme %>
<% include head %>
</head>
<body>
    <div class="wrapper">
		<!-- Menu -->
		<%- include ./menu %>
        <div class="page-container">   
			<!-- Main Page -->
		<div class="container-fluid">
			<div class="row">
				<div id="chartInfo" class="col-md-6">
					<p>DonutChart Component:</p>
					<ul>
						<li>Displays the data in donut chart</li>
                        <li>Wraps the chart in a default card layout</li>
                        <li>In this example we can pass in the data to be displayed</li>
                        <li>It defaults to showing the percentages</li>
				    </ul>
					<pre><code class="language-javascript">
	var data = [
		["Customer Apple",1000],
		["Customer Amazon",2000],
		["Customer Cisco",3000],
		["Customer Facebook",4000],
	]
	
	new DonutChartComponent({
		targetId:"chart",
		data:data,
		title:"Customers"
	}).draw(function(selection){
		alert(selection);
	})
					</code></pre>

				</div>	
				<div id="chart" class="col-md-6"></div>				
			</div>
			<div class="row"><hr/></div>
			<div class="row">
				<div class="col-md-6">
					<p>Donut Chart Component</p>
					<ul>
						<li>All chart components allow you to pass in an ADQL query instead of the data property. If you pass in both, the query property would take precendence.</li>
						<li>if you remove the data and query properties then the component will generate performance test data</li>
					</ul>
					<pre><code class="language-javascript">			
	new DonutChartComponent({
		targetId:"chartComponent",
		title:"Donut Chart Component"
		//query:"select customername,count(*) from transactions where application = 'test"
	}).draw(function(selection){
		alert(selection);
	})						
</code></pre>

				</div>	
				<div id="chartComponent" class="col-md-6"></div>				
			</div>
			<div class="row"><hr/></div>
			<div class="row">
					<div class="col-md-6">
						<p>Customizing Chart Options</p>
						<ul>
							<li>To customize the donut chart use the options attribute.</li>
						</ul>
						<pre><code class="language-javascript">			
	new DonutChartComponent({
		targetId:"chartComponentCustomized",
		title:"All Red",
		options:{
			size:{width:"200",height:"200"},
			color:{pattern: ['#FF0000']},
			legend: {show: false}
		}
	}).draw(function(selection){
		alert(selection);
	})						
	</code></pre>
	
					</div>	
					<div id="chartComponentCustomized" class="col-md-6"></div>				
				</div>
            
            <div class="row"><hr/></div>
			<div class="row">
					<div class="col-md-6">
						<p>Removing the card layout:</p>
						<ul>
							<li>set style:none</li>
                            <li>This will remove the outer card layout</li>
                            <li>You can pass in your own style see the card css element.</li>
						</ul>
						<pre><code class="language-javascript">			
	new DonutChartComponent({
			targetId:"chartNoLayout",
			style:'none',
			chartOptions:{
				size:{width:"200",height:"200"},
				color:{pattern: ['#FF0000']},
				legend: {show: false}
			}
		}).draw(function(selection){
			alert(selection);
		})					
	</code></pre>
	
					</div>	
					<div id="chartNoLayout" class="col-md-6"></div>				
				</div>
		</div>
		</div>
		
    </div>
</body>
<script type="text/javascript">
	debugApp = true;

	var chartSection = function(){
		var data = [
			["Apple",1000],
			["Amazon",2000],
			["Cisco",3000],
			["Facebook",4000],
		]
		
		new DonutChartComponent({
			targetId:"chart",
			data:data,
			title:"Customers"
		}).draw(function(selection){
			alert(selection);
		})

		new DonutChartComponent({
			targetId:"chartComponent",
			title:"Donut Chart Component"
			//query:"select customername,count(*) from transactions where application = 'test"
		}).draw(function(selection){
			alert(selection);
		})

		new DonutChartComponent({
			targetId:"chartComponentCustomized",
			title:"All Red",
			chartOptions:{
				size:{width:"200",height:"200"},
				color:{pattern: ['#FF0000']},
				legend: {show: false}
			}
		}).draw(function(selection){
			alert(selection);
		})
        
        new DonutChartComponent({
			targetId:"chartNoLayout",
			style:'none',
			chartOptions:{
				size:{width:"200",height:"200"},
				color:{pattern: ['#FF0000']},
				legend: {show: false}
			}
		}).draw(function(selection){
			alert(selection);
		})
	}

	//Your BiQ App Components ...
	var buildDashboard = function(){
		chartSection();				
	}
	buildDashboard();


</script>
</html>
