<!DOCTYPE html>
<html>
<head>
<title>BiQ App - Dashboards</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<% include ../partials/theme-admin %>
<% include head %>

</head>
<body>
    <div class="page-wrapper">
        <!-- Menu -->
		<%- include ./menu %>    
        <div class="page-container">   
            <!-- Main Page -->
            <div class="container-fluid">
                <div class="row">
                    <div id="newdash" class="col-lg-3 col-md-3"></div>
                    <div id="boxexample" class="col-lg-3 col-md-3"></div>
                    <div id="drilldown" class="col-lg-3 col-md-3"></div>
                </div>
                <div class="row">
                    <div id="light" class="col-lg-3 col-md-3"></div>
                    <div id="dark" class="col-lg-3 col-md-3"></div>
                </div>
                <div class="row">
                    <div id="appd" class="col-lg-3 col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    
    var buildMenus = function(){
        new BoxComponent({
            value:"Basic",
            title:"Starter Dashboard",
            targetId:"newdash",
            actionClick: "window.location.replace('/views/examples/example-starter.html')",
            icon:"fa fa-cogs fa-2x",
            panelClass:"overview-item--c1"
        }).draw();

        new BoxComponent({
            value:"Tabs",
            title:"Tab Dashboard",
            targetId:"boxexample",
            actionClick: "window.location.replace('/views/examples/example-tab.html')",
            icon:"fa fa-cogs fa-2x",
            panelClass:"overview-item--c1"
        }).draw();

        new BoxComponent({
            value:"Drill Downs",
            title:"Drill Down Dashboard",
            targetId:"drilldown",
            actionClick: "window.location.replace('/views/examples/example-drilldown.html')",
            icon:"fa fa-cogs fa-2x",
            panelClass:"overview-item--c1"
        }).draw();

         new BoxComponent({
            value:"Light",
            title:"Light Theme Dashboard",
            targetId:"light",
            actionClick: "window.location.replace('/views/examples/lightdash.html')",
            icon:"fa fa-cogs fa-2x",
            panelClass:"overview-item--c2"
        }).draw();

        new BoxComponent({
            value:"Dark",
            title:"Dark Theme Dashboard",
            targetId:"dark",
            actionClick: "window.location.replace('/views/examples/darkdash.html')",
            icon:"fa fa-cogs fa-2x",
            panelClass:"overview-item--c2"
        }).draw();

        new BoxComponent({
            value:"MyAppD",
            title:"AppD Theme Dashboard",
            targetId:"appd",
            actionClick: "window.location.replace('/views/appd.html')",
            icon:"fa fa-cogs fa-2x",
            panelClass:"overview-item--c0"
        }).draw();
    }

    buildMenus();
</script>        
</html>
