<!DOCTYPE html>
<html>
<head>
<title>BiQ App - Dashboards</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<%- include ../partials/include %>
</head>
<body>
    <div id="wrapper">
        <!-- Menu -->
		<%- include ./menu %>    
        <div id="page-wrapper">   
            <!-- Main Page -->
			<div class="row">
                <div class="col-md-1">
                    <p>Basic Default App</p>
                </div>
                <div id="newdash" class="col-lg-3 col-md-3"></div>
                <div class="col-md-1">
                    <p>Box Component Example</p>
                </div>
                <div id="boxexample" class="col-lg-3 col-md-3"></div>
                <div class="col-md-1">
                    <p>Dashboard that drills down</p>
                </div>
                <div id="drilldown" class="col-lg-3 col-md-3"></div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    
    var buildMenus = function(){
        new BoxComponent({
            title:"Starter Dashboard",
            targetId:"newdash",
            action:"Starter Dashboard",
            actionClick: "window.location.replace('/views/examples/example-starter.html')",
            icon:"fa fa-cogs fa-2x",
            panelClass:"panel-green"
        }).draw();

        new BoxComponent({
            title:"Tab Dashboard",
            targetId:"boxexample",
            action:"Tab Dashboard",
            actionClick: "window.location.replace('/views/examples/example-tab.html')",
            icon:"fa fa-cogs fa-2x",
            panelClass:"panel-green"
        }).draw();

        new BoxComponent({
            title:"Drill Down Example Dashboard",
            targetId:"drilldown",
            action:"Drill Down Example Dashboard",
            actionClick: "window.location.replace('/views/examples/example-drilldown.html')",
            icon:"fa fa-cogs fa-2x",
            panelClass:"panel-green"
        }).draw();
    }

    buildMenus();
</script>        
</html>