<!DOCTYPE html>
<html>
<head>
<title>BiQ App - Dashboard</title>
<meta charset="UTF-8">

<% include ../partials/theme %>
<% include head %>
</head>
<body>
    <div class="wrapper">
		<!-- Menu -->
		<%- include ./menu %>
        <div class="page-container">   
			<!-- Main Page -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<p>Layout Your Components</p>
					<p>Best to start with newdash.html and build your dashboard.</p>
					<pre><code class="language-javascript">
	&lt;body&gt;
		&lt;div class="wrapper"&gt;
			&lt;aside class="menu-sidebar"&gt;
				&lt;div class="logo"&gt;
					&lt;a href="#"&gt;
						&lt;img width="180px" src="/img/AppDynamicsLogo_black.svg" alt="AppDynamics" /&gt;
					&lt;/a&gt;
				&lt;/div&gt;
				&lt;div class="menu-sidebar__content js-scrollbar1"&gt;
					&lt;nav class="navbar-sidebar"&gt;
						&lt;ul class="nav" id="side-menu"&gt;&lt;/ul&gt;
					&lt;/nav&gt;
				&lt;/div&gt;
			&lt;/aside&gt;    
			&lt;div class="page-container"&gt; 
				&lt;div class="container-fluid"&gt;    
					&lt;div class="row"&gt;
						&lt;div id="comp1" class="col-md-3"&gt;&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/body&gt;
					</code></pre>
					<ul style="margin:20px">
							<li>Within the page-container div, you will begin to add your components.</li>
							<li>ChartComponents bind to div elements using the targetId property.</li>
							<li>Bootstrap grid layout is used to align components (see : <a href="https://getbootstrap.com/docs/4.0/layout/grid/">https://getbootstrap.com/docs/4.0/layout/grid</a>)</li>
							<li>Font Awesome icons are also used (see : <a href="https://www.w3schools.com/icons/fontawesome_icons_intro.asp">https://www.w3schools.com/icons/fontawesome_icons_intro.asp</a>)</li>
					</ul>

				</div>	
			</div>
		</div>
    </div>
</body>
</html>
