<nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0px;">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img width="180px" src="/img/AppDynamicsLogo.svg"/></a>
        </div>
        <span class="navbar-left" style="color: aliceblue">Version : <%= version %></span>
   
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav in" id="side-menu">
                <li>
                    <a href="intro.html" ><i class="fa fa-dashboard fa-fw"></i> BiQ Apps - Intro</a>
                </li>
                <li>
                    <a href="gettingstarted.html" ><i class="fa fa-dashboard fa-fw"></i> Getting Started</a>
                </li>
                <li>
                        <a href="gettingstarted.html" ><i class="fa fa-dashboard fa-fw"></i> Html Layout and Theme</a>
                </li>
                <li>
                    <a href="boxcomponent.html" ><i class="fa fa-dashboard fa-fw"></i> Box Component</a>
                </li>
                <li>
                    <a href="piechart.html" ><i class="fa fa-dashboard fa-fw"></i> Pie Charts</a>
                </li>
                <li>
                    <a href="donutchart.html" ><i class="fa fa-dashboard fa-fw"></i> Donut Charts</a>
                </li>
                <li>
                    <a href="timechart.html"><i class="fa fa-bar-chart-o fa-fw"></i> Time Charts</a>
                </li>
                <li>
                    <a href="table.html"><i class="fa fa-table fa-fw"></i> Tables</a>
                </li>
                <li>
                    <a href="sankeys.html"><i class="fa fa-sitemap fa-fw"></i> Sankeys</a>
                </li>
                <li>
                    <a href="base.html">Example - Basic Dashboard</a>
                </li>
                <li>
                    <a href="tabexample.html">Example - Tab Example Dashboard</a>
                </li>
                <li>
                    <a href="drilldown.html">Example - Drill Down Dashboard</a>
                </li>   
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
</nav>   