<!DOCTYPE html>
<html>
<head>
<title>BiQ App - Dashboard</title>
<meta charset="UTF-8">

<% include ../partials/theme %>
<% include head %>
</head>
<body>
    <div class="wrapper">
		<!-- Menu -->
		<%- include ./menu %>
        <div class="page-container">   
			<!-- Main Page -->
		<div  class="container-fluid">
			<div class="row">
				<div id="pieChartInfo" class="col-md-6">
					<p>PieChartComponent</p>
					<ul>
						<li>You can pass in your own data for you to visualize</li>
					</ul>
					<pre><code class="language-javascript">
	var pieData = [
			["Apple",1000],
			["Amazon",2000],
			["Cisco",3000],
			["AppDynamics",4000],
		]

    new PieChartComponent({
        targetId:"pieChart",
        title:"PieChart Component",
        data:pieData,
   }).draw(function(selection){
        alert(selection);
    })
					</code></pre>

				</div>	
				<div id="pieChart" class="col-md-6"></div>				
			</div>
			<div class="row"><hr/></div>
			<div class="row">
				<div class="col-md-6">
					<p>PieChartComponent:</p>
					<ul>
						<li>All chart components allow you to pass in an ADQL query instead of the data property. </li>
						<li>If you do NOT provide any data or query values the component will generate mock performance data for you.</li>
					</ul>
					<pre><code class="language-javascript">			
new PieChartComponent({
	targetId:"pieChartComponent",
	title:"PieChart Component"
	//query:"select customername,count(*) from transactions where application = 'test"
}).draw(function(selection){
	alert(selection);
})						
</code></pre>

				</div>	
				<div id="pieChartComponent" class="col-md-6"></div>				
			</div>
			<div class="row"><hr/></div>
			<div class="row">
					<div class="col-md-6">
						<p>Customizing Chart Options:</p>
						<ul>
							<li>You can customize the chart by using the options property.</li>
							<li>This will work for both Chart and ChartComponents.</li>
						</ul>
						<pre><code class="language-javascript">			
	new PieChartComponent({
		targetId:"pieChartComponentCustomized",
		title:"PieChart Component Customized",
		options:{
			size:{width:"200",height:"200"},
			color:{pattern: ['#FF0000']},
			legend: {show: false}
		}
	}).draw(function(selection){
		alert(selection);
	})						
	</code></pre>
	
					</div>	
					<div id="pieChartComponentCustomized" class="col-md-6"></div>				
				</div>
            <div class="row"><hr/></div>
			<div class="row">
					<div class="col-md-6">
						<p>Removing the outer layout:</p>
						<ul>
							<li>You can remove the outer card by setting style:'none'</li>
						</ul>
						<pre><code class="language-javascript">			
	new PieChartComponent({
			targetId:"pieChartNoLayout",
			title:"PieChart Component - No Card",
			style:'none'
    }).draw(function(selection){
        alert(selection);
    })				
	</code></pre>
	
					</div>	
					<div id="pieChartNoLayout" class="col-md-6"></div>				
				</div>
            
		</div>
		</div>
		
    </div>
</body>
<script type="text/javascript">
	

	var pieChartSection = function(){
		var pieData = [
			["Apple",1000],
			["Amazon",2000],
			["Cisco",3000],
			["AppDynamics",4000],
		]

		new PieChartComponent({
			targetId:"pieChart",
            title:"PieChart Component",
			data:pieData,
       }).draw(function(selection){
			alert(selection);
		})

		new PieChartComponent({
			targetId:"pieChartComponent",
			title:"PieChart Component"
			//query:"select customername,count(*) from transactions where application = 'test"
		}).draw(function(selection){
			alert(selection);
		})

		new PieChartComponent({
			targetId:"pieChartComponentCustomized",
			title:"PieChart Component Customized",
			options:{
				size:{width:"200",height:"200"},
				color:{pattern: ['#FF0000']},
				legend: {show: false}
			}
		}).draw(function(selection){
			alert(selection);
		})
        
        new PieChartComponent({
			targetId:"pieChartNoLayout",
			title:"PieChart Component - No Card",
			style:'none'
		}).draw(function(selection){
			alert(selection);
		})
	}

	//Your BiQ App Components ...
	var buildDashboard = function(){
		pieChartSection();				
	}
	buildDashboard();


</script>
</html>
