<!DOCTYPE html>
<html>
<head>
<title>BiQ App - Dashboard</title>
<meta charset="UTF-8">
<% include ../includes/prism %>
<% include ../partials/theme%>
<% include head %>
<% include ../includes/sankey %>
</head>
<body>
	<div class="wrapper">
		<!-- Menu -->
		<%- include ./menu %>
		<div class="page-container">  
			<div class="container-fluid"> 
			<!-- Main Page -->
			<div class="row">
				<p>Sankey Charts</p>		
			</div>
			<div class="row"><hr/></div>
			<div class="row">
				<div class="col-md-12">
					<p>Butterfly Sankey Chart</p>
					<ul>
						<li>See : <a href="http://drarmstr.github.io/c3/examples/#butterfly/">http://drarmstr.github.io/c3/examples/#butterfly/</a></li>
						<li>This component allows you to drill in and zoom on just the element selected.</li>
						<li>You must include the sankey partials.</li>
						<li>If you leave the data property empty then the chart will generate sample data.</li>
					</ul>
				</div>
			</div>		
			<div class="row">
					<div class="col-md-12">
						<pre><code class="language-javascript">	
	
	&lt;% include ../partials/sankey %&gt;

	....

	var data={
		nodes : [{"id":1,"name":"RuntimeException"},
		{"id":2,"name":"Login Service"},
		{"id":3,"name":"DB Service"},
		{"id":4,"name":"Customer A"},
		{"id":5,"name":"Customer B"}],
		links : [{"source":1,"target":2,"value":15},
		{"source":1,"target":3,"value":5},
		{"source":2,"target":4,"value":10},
		{"source":2,"target":5,"value":5}
		]
	}

	sankeyChart = new ButterflySankeyChart({
		targetId:"butterfly",
		data: data,
		options:{height:"400px",margin:["10","10","10","10"]}
	});
	sankeyChart.renderChart(function(selection){
		alert(selection);
	});
						</code></pre>
					</div>
			</div>	
			<div class="row">
				<div id="butterfly" class="col-md-10"></div>	
			</div>	
		


		</div>
		</div>
    </div>
</body>
<script type="text/javascript">
	

	var chartSection = function(){
		var data={
            nodes : [{"id":1,"name":"RuntimeException"},
            {"id":2,"name":"Login Service"},
            {"id":3,"name":"DB Service"},
            {"id":4,"name":"Customer A"},
            {"id":5,"name":"Customer B"}],
            links : [{"source":1,"target":2,"value":15},
            {"source":1,"target":3,"value":5},
            {"source":2,"target":4,"value":10},
            {"source":2,"target":5,"value":5}
            ]
        }

        sankeyChart = new ButterflySankeyChart({
			targetId:"butterfly",
			data: data,
			options:{height:"400px", width:"400px"}
		});
        sankeyChart.renderChart(function(selection){
            alert(selection);
        });


		var plotlyData={
			nodes : ["RuntimeException",
			"Login Service",
			"DB Service",
			"Customer A",
			"Customer B"],
			source : [1,1,2,2,3],
			target : [2,3,4,5,5],
			values : [15,5,10,5,2]
		}

		

	}

	//Your BiQ App Components ...
	var buildDashboard = function(){
		chartSection();				
	}
	buildDashboard();


</script>
</html>
