<!DOCTYPE html>
<html>
<head>
<title>BiQ App - Dashboard</title>
<meta charset="UTF-8">

<% include ../partials/theme %>
<% include head %>
</head>
<body>
		<div class="wrapper">
		<!-- Menu -->
		<%- include ./menu %>
        <div class="page-container">    
			<!-- Main Page -->
			<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<p>Table Component</p>
					<ul>
						<li>Table component is a wrapper around <a href="https://datatables.net/">datatables.net</a></li>
						<li>Using the table component you must provide the data property</li>
						<li>When selecting a row, the row data is passed as an array. If you click on the row you will see the values.</li>
                        <li>Adds an outer panel and you can provide a title. The title property can be dynamic and include some variable and or html</li>
						<li>All chart components allow you to pass in an ADQL query instead of the data property. If you pass in both, the query would be executed first.</li>
						<li>if you remove the data and query properties then the component will generate test data.</li>
                        <li>To customize the table component use the options parameter.</li>
                        <li>The columns attribute shows the columns and matches the order of the data.</li>
					</ul>
                </div>
            </div>
            <div class="row">
				<div class="col-md-6">
					<pre><code class="language-javascript">
	var data = [
		["Cust1",1000],
		["Cust2",2000],
		["Cust3",3000],
		["Cust4",4000],
	]

	new TableComponent({
		targetId:"table",
		title:"Errors By Customers",
		data:data,
		columns: [{ title: "Customer" },{ title: "Counts" }]
	}).draw(function(row){
		alert(JSON.stringify(row));
	});	
					</code></pre>

				</div>	
				<div id="table" class="col-md-6"></div>				
			</div>
			<div class="row">
					<div class="col-md-6">
						<p>Customizing </p>
						<ul>
                             <li>Use the options attribute to set the datatables.net options.</li>
                             <li>Set the style attribute to none to remove the outer card layout.</li>
                        </ul>
                </div>
                </div>
                <div class="row">
				<div class="col-md-6">
						<pre><code class="language-javascript">			
	new TableComponent({
		targetId:"table3",
		title:"Errors By Customers",
		columns: [{ title: "Customer" },{ title: "Counts" }],
        style:'none'
		options : {
			"searching": false,
			"paging": false,
			"ordering": false
		}
	}).draw(function(row){
		alert(JSON.stringify(row));
	});					
	</code></pre>
	
					</div>	
					<div id="table3" class="col-md-6"></div>				
				</div>
			<div class="row"><hr/></div>
			
				<div class="row">
					<div class="col-md-12">
						<p>Query Examples</p>
						<ul>
							The following provides some query examples. You still need to declare the columns property to match your data.
						</ul>
						<pre><code class="language-javascript">			
//group by the following 3 custom fields							
query : "SELECT segments.userData.field1,segments.userData.field2, segments.userData.field3 count(*) as count FROM transactions WHERE application = 'myApp' and segments.userData.Error IS NOT NULL order by count desc"						

//group by errors							
query: "SELECT segments.userData.Error, count(*) as count FROM transactions WHERE application = 'myApp' and segments.userData.Error IS NOT NULL order by count desc"
	</code></pre>
	
					</div>	
					<div id="table4" class="col-md-6"></div>				
				</div>
		</div>
		</div>
		
    </div>
</body>
<script type="text/javascript">
	

	var chartSection = function(){
		var data = [
			["Cust1",1000],
			["Cust2",2000],
			["Cust3",3000],
			["Cust4",4000],
		]

		new TableComponent({
			targetId:"table",
			title:"Errors By Customers",
			data:data,
			columns: [{ title: "Customer" },{ title: "Counts" }]
		}).draw(function(row){
			alert(JSON.stringify(row));
		});

		
		new TableComponent({
			targetId:"table3",
			title:"Errors By Customers",
			columns: [{ title: "Customer" },{ title: "Counts" }],
            style:'none',
			options : {
				"searching": false,
				"paging": false,
				"ordering": false
			}
		}).draw(function(row){
			alert(JSON.stringify(row));
		});

		

	}

	//Your BiQ App Components ...
	var buildDashboard = function(){
		chartSection();				
	}
	buildDashboard();


</script>
</html>
