<!DOCTYPE html>
<html>
<head>
<title>BiQ App - Dashboard</title>
<meta charset="UTF-8">

<% include ../partials/theme %>
<% include head %>
</head>
<body>
    <div class="wrapper">
		<!-- Menu -->
		<%- include ./menu %>
        <div class="page-container">   
			<!-- Main Page -->
			<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<p>TimeChartComponent :</p>
					<ul>
						<li>When working with the TimeChartComponent draws a time chart based on times in milliseconds</li>
				        <li>Adds an outer panel and you can provide a title. The title property can be dynamic and include some variable and or html</li>
                		<li>When the user selects a point on the graph it returns {"id":"Counts","date":"2018-07-30T15:46:33.039Z"}</li>
                        <li>Data is expected as an array of values. Each value is iteself an array of entries with the time in milleseconds and the value.</li>
					</ul>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-6">
					<pre><code class="language-javascript">
	var chartData =[
		[1532966193039,5],
		[1532966013039,10],
		[1532965833039,20],
		[1532965593039,7],
		[1532965293039,30]
	];

	new TimeChart({
		targetId:"timeChart",
		data : chartData
	}).draw(function(selection){
		alert(JSON.stringify(selection));
	})
					</code></pre>

				</div>	
				<div id="timeChart" class="col-md-6"></div>				
			</div>
			<div class="row"><hr/></div>
			<div class="row">
				<div class="col-md-6">
					<ul>
						<li>All chart components allow you to pass in an ADQL query instead of the data property. If you pass in both, the query would be executed first.</li>
						<li>if you remove the data and query properties then the component will generate random data.</li>
					</ul>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-6">
					<pre><code class="language-javascript">			
	new TimeChartComponent({
		targetId:"timeChartNoData",
		title:"My Time Series Data"
	}).draw(function(selection){
		alert(JSON.stringify(selection));
	})						
					</code></pre>
				</div>	
				<div id="timeChartNoData" class="col-md-6"></div>				
			</div>
			<div class="row"><hr/></div>
			<div class="row">
					<div class="col-md-6">
						<p>Customizing Chart Options: Part 1</p>
						<ul>
							<li>To pass in chart options use the options property.</li>
						</ul>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-6">
						<pre><code class="language-javascript">			
		new TimeChartComponent({
			targetId:"timeChartComponentCustomized",
			title:"My Time Series Data : Customized",
			options:{
				size:{width:"400",height:"200"},
				color:{pattern: ['#FF0000']},
				legend: {show: false},
				tooltip:{show:false},
				axis: {
					x: {show:false},
					y: {show:true}
				}, 
				point: {
					show: false
				}
			}
		}).draw(function(selection){
			alert(JSON.stringify(selection));
		})			
	</code></pre>
	
					</div>	
					<div id="timeChartComponentCustomized" class="col-md-6"></div>				
				</div>
                
            <div class="row">
					<div class="col-md-6">
						<p>Customizing Chart Options - Part 2. We want to control the actual data being generated by the component</p>
						<ul>
							<li>intervals: number (The number of data points) </li>
							<li>bucket: days|hrs|mins (The interval for each data point)</li>
                            <li>xmin: number (The number of data points that will be set to 0)</li>
						</ul>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-6">
						<pre><code class="language-javascript">			
		 new TimeChartComponent({
			targetId:"data",
			title:"My Time Series Data : Control data",
			options:{
                intervals:14,
                bucket:"days",
                xmin:5
            }
		}).draw(function(selection){
			alert(JSON.stringify(selection));
		})	
	</code></pre>
	
					</div>	
					<div id="data" class="col-md-6"></div>				
				</div>
        <div class="row">
					<div class="col-md-6">
						<p>Customizing Chart Options - Part 3</p>
						<ul>
							<li>style:'none'</li>
						</ul>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-6">
						<pre><code class="language-javascript">			
		 new TimeChartComponent({
			targetId:"data",
			title:"My Time Series Data : Control data",
            style:'none',
			options:{
                intervals:14,
                bucket:"days",
                xmin:5
            }
		}).draw(function(selection){
			alert(JSON.stringify(selection));
		})	
	</code></pre>
	
					</div>	
					<div id="stylenone" class="col-md-6"></div>				
				</div>
		<div class="row"><hr/></div>
		<div class="row">
			<div class="col-md-12">
				<p>ADQL Example:</p>

				<p>TimeChartComponents work in tandem with the data picker. The getTimeBucket() function gets the values based on the Time Range picked e.g. Last 2 weeks</p>
				<p>see <a href="https://docs.appdynamics.com/display/PRO44/Analytics+Functions">ADQL Analytics Functions : Series Function</a></p>
				<pre><code class="language-javascript">	

	//Based on the time range selected group the counts in time buckets to see the trend.
	var myQuery:"SELECT series(eventTimestamp, '"+getTimeBucket()+"'), count(segments.userData.Error) FROM transactions WHERE application = 'MyApp' and segments.userData.Error IS NOT NULL"			
	new TimeChartComponent({
		targetId:"timeChartNoData",
		title:"My Time Series Data",
		query:myQuery
	}).draw(function(selection){
		alert(JSON.stringify(selection));
	})
				</code></pre>

			</div>
		</div>	

		</div>
		
    </div>
</body>
<script type="text/javascript">
	debugApp = true;

	var chartSection = function(){

		var chartData =[
			[1532966193039,5],
			[1532966013039,10],
			[1532965833039,20],
			[1532965593039,7],
			[1532965293039,30]
		];

		new TimeChartComponent({
			targetId:"timeChart",
			data : chartData
		}).draw(function(selection){
			alert(JSON.stringify(selection));
		})

		new TimeChartComponent({
			targetId:"timeChartNoData",
			title:"My Time Series Data"
		}).draw(function(selection){
			alert(JSON.stringify(selection));
		})

		new TimeChartComponent({
			targetId:"timeChartComponentCustomized",
			title:"My Time Series Data : Customized",
			options:{
				size:{width:"400",height:"200"},
				color:{pattern: ['#FF0000']},
				legend: {show: false},
            	tooltip:{show:false},
				axis: {
					x: {show:false},
					y: {show:true}
				}, 
				point: {
					show: false
				}
			}
		}).draw(function(selection){
			alert(JSON.stringify(selection));
		})
        
        new TimeChartComponent({
			targetId:"data",
			title:"My Time Series Data : Control data",
			options:{
                intervals:14,
                bucket:"days",
                xmin:5
            }
		}).draw(function(selection){
			alert(JSON.stringify(selection));
		})
        
         new TimeChartComponent({
			targetId:"stylenone",
			title:"My Time Series Data : Control data",
            style:'none',
			options:{
                intervals:14,
                bucket:"days",
                xmin:5
            }
		}).draw(function(selection){
			alert(JSON.stringify(selection));
		})
        
	}

	//Your BiQ App Components ...
	var buildDashboard = function(){
		chartSection();				
	}
	chartSection();
</script>
</html>
